
/*페이지 레이아웃 기본설정*/
body{
    margin: 0;
    font-family: sans-serif;
}

header{text-align: center;}

a{
    text-decoration: none;
    color:white;
}

/*아이콘*/
li {list-style-type:none;}
i{font-size : 30px }


/*네비게이션바*/
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:darkblue;
    padding: 8px 12px;
}

.navber_logo{
    font-size: 24px;
}

.navber_menu{
    display: flex;
    padding-left: 0;
}

.navber_menu li{
    padding: 8px 12px;
}

.navber_menu li:hover{
    background-color: blue;
    border-radius: 4px;
}

.user_menu{
    display: flex;
    padding-left: 0;
}

.user_menu li{
    padding: 8px 12px;
}

.user_menu li:hover{
    background-color: blue;
    border-radius: 4px;
}

/*검색 테이블*/
table {
    margin-left:auto; 
    margin-right:auto;
    table-layout: fixed;
    width: 1600px;
}
table ,tr,td{
    border-collapse: collapse;
    border: 1px solid;
}

.green{
    color: #89c03f;
    font-weight: 700;}
